<h1><%= @article.title %></h1>
<hr>
<small>publication: <%= @article.created_at %></small>
<p><%= @article.body %></p>
<%= link_to 'Go back', articles_path, class:'btn btn-primary' %>
<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
<%= link_to 'Delete', article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?" },
                      class: 'btn btn-danger'%>

<hr>

<h2>Comments</h2>

<%= render @article.comments %>

<hr>

<h3>Leave a comment:</h3>

<%= render 'comments/form' %>
